.twr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 450px;
    height: 300px;
    color: #9c9c9c;
    font-family: Arial serif;
}

.contentBox {
    width: 90%;
    height: 85%;
    background-color: #ffffff;
    border: #9c9c9c solid 2px;
    border-radius: 5px;
}

.boxA {
    width: 98%;
    height: 32%;
    background-color: #d9d9d9;
    margin: 1% 1% 0 1%;
}

.contentWrapper {
    width: 98%;
    height: 63%;
    margin: 1% 1% 1% 1%;
    display: flex;
}

.contentWrLeft {
    width: 80%;
    height: 100%;
}

.boxB {
    width: 98.5%;
    height: 48%;
    background-color: #d9d9d9;
}

.wrCDE {
    margin-top: 1.5%;
    display: flex;
    justify-content: space-between;
    width: 98.5%;
    height: 49%;
}

.box {
    width: 32.3%;
    height: 100%;
    background-color: #d9d9d9;

}

.contentRight {
    width: 20%;
    height: 100%;
    background-color: #d9d9d9;
}


