body {
    display: flex;
    justify-content: center;
    font-size: 35px;

}

.wrapper {
    width: 800px;
    height: 800px;
    background-color: #7dcce3;
}

.header {
    width: 100%;
    height: 14.5%;
    background-color: #0e66a8;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: center;
}

.txtH {
    margin-top: 2%;
    color: white;
}

.nav {
    width: 100%;
    height: 10%;
    background-color: #144c79;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txtNav {
    color: white;
}

.wr {
    width: 100%;
    height: 62%;
    display: flex;
    justify-content: space-between;
}

.main {
    height: 100%;
    width: 74.5%;
    background-color: #18a3c5;
    display: flex;
    justify-content: center;

}

.txtMain {
    margin-top: 150px;
    color: white;
}

.aside {
    height: 100%;
    width: 25%;
    background-color: #5376ae;
    display: flex;
    justify-content: center;
}

.txtAside {
    margin-top: 150px;
    color: white;
}

.footer {
    width: 100%;
    height: 13%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
