@media screen  and  (max-width: 767px) {
    .bodyWr {
        width: 350px;
    }
    .wrapper {
        display: flex;
        height: 800px;
        width: 350px;
    }
    .colGray {
        background-color: #e7e7e8;
    }

    .wrapper2 {
        width: 100%;
        height: 100%;
    }

    .header {
        width: 80%;
        height: 5%;
        border: black solid 2px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 3% 3% 3%;
    }
    .headerItem {
        width: 48%;
        height: 20%;

    }


    .wr {
        width: 80%;
        height: 100%;
        display: flex;
    }

    .leftItemM {
        z-index: 1;
        width: 29.87%;
        height: 19%;
        border: black dotted 2px;
        box-sizing: border-box;
        display: flex;
        row-gap: 1%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 2%;

    }

    .leftItemW {
        position: fixed;
        z-index: 2;
        width: 81px;
        height: 250px;
        background-color: white;
    }

    .leftItemW:hover {
        z-index: 0;
        transition: .5s;
    }

    .leftItemM:hover {
        z-index: 99;
    }
    .leftItemInnerT {
        width: 80%;
        height: 10%;
        margin-bottom: 20%;
    }
    .leftItemInner {
        width: 80%;
        height: 10%;
    }

    .leftItem {
        display: none;
    }


    .mainContent {
        width: 100%;
        height: 100%;
    }

    .three {
        width: 100%;
        height: 15%;
        border: black solid 2px;
        border-top: 0;
        box-sizing: border-box;
        padding: 4%;
    }
    .threeInner {
        width: 100%;
        height: 100%;
    }

    .four {
        width: 100%;
        height: 20%;
        border: black solid 2px;
        border-top: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .fourInnerWr {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .fourInner {
        width: 43%;
        height: 80%;
    }

    .wr2 {
        width: 100%;
        height: 58%;
        display: flex;
        flex-direction: column;
        border: black solid 2px;
        border-top: 0;
        box-sizing: border-box;
    }

    .five {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding:5% 3% 5% 3%;
        border-bottom: black solid 2px;
        box-sizing: border-box;
    }
    .fiveWrTopCen {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .centre {
        display: none;
    }


    .fiveInner {
        width: 100%;
        height: 28%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .withDel{
        height: 12%;
    }


    .fiveInnerContent {
        width: 100%;
        height: 38%;
    }
    .del{
        display: none;
    }
    .wer{
        height: 76%;

    }

    .fiveWrBottom {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fiveInnerBottomContent {
        width: 20%;
        height: 55%;
    }


    .six {
        height: 50%;
        width: 100%;
        display: flex;
        padding: 5% 3% 5% 3%;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-around;
    }
    .sixWr {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sixContent {
        width: 100%;
        height: 25%;
    }

    .sixContentAnother {
        width: 100%;
        height: 50%;
    }


    .footer {
        width: 100%;
        height: 7%;
        box-sizing: border-box;
        border: black solid 2px;
        border-top: 0;
        display: flex;
        flex-direction: column;
        padding: 4%;
        align-items: center;
        justify-content: space-evenly;
    }

    .footerContentTop {
        width: 95%;
        height: 25%;
    }

    .footerContentBottom {
        width: 25%;
        height: 25%;
    }

}